<!-- Intro to raw React APIs -->
<!-- http://localhost:3000/isolated/exercise/02.html -->

<body>
  <div id="root"></div>

  <!-- 🐨 add React and ReactDOM on the page.
      💰 Here are script tags that'll do the job:-->
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

  <script type="module">
    const rootElement = document.getElementById('root')

    // You're going to re-implement this code using React!
    // 💣 So go ahead and delete this implementation (or comment it out for now)
    // These three lines are similar to React.createElement

    const reactElement = React.createElement('div', {className: 'container'}, 'Hello World!')
    ReactDOM.render(reactElement, rootElement)

    // 🐨 Please re-implement the regular document.createElement code above
    // with these React API calls
    // 💰 The example in the markdown file should be a good hint for you.
  </script>
</body>
