<!-- Creating custom components -->
<!-- http://localhost:3000/isolated/exercise/04.html -->

<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone@7.12.4/babel.js"></script>
  <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>
  <script type="text/babel">

    /* const Message = ({greeting, subject}) => {
      return <div className="message">{greeting} {subject}</div>
    } */

    class Message extends React.Component {
      render() {
        return <div className="message">{this.props.greeting} {this.props.subject}</div>
      }
    }

    class Content extends React.Component {
      render() {
        return (
          <>
            <Message greeting = "Hello" subject = "World"/>
            <Message {...props} />
          </>
        );
      }
    }    

    Message.propTypes = {
      greeting: PropTypes.string,
      subject: PropTypes.string 
    }

    const props = {
      greeting: "Goodbye",
      subject: "World"
    }

    // 💯 This is only the first step to making actual React components. The rest is in the extra credit!
    ReactDOM.render(<Content/>, document.getElementById('root'))

  </script>
</body>
