<!-- Creating custom components -->
<!-- http://localhost:3000/isolated/exercise/04.html -->

<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone@7.12.4/babel.js"></script>
  <script type="text/babel">
    // 🐨 Make a function called `message` which returns the JSX we want to share
    /*option 1*/
    const Message = ({children}) => {
      return React.createElement('div', {className: "message", children: children})
    }

    /*option 2*/
    /* function Message(props) {
      return (
        React.createElement('div', {className: 'message'}, props.children)
      );
    } */

    /*option 3*/
    /* function Message(props) {
      return (
        React.createElement('div', {...props})
      );
    } */

    /*option 4*/
    /* const Message = ({children}) => {
      return <div className="message">{children}</div>
    } */


    // 🐨 use that function in place of the divs below with:
    // 💰 {message({children: 'Hello World'})} {message({children: 'Goodbye World'})}

    /*option 1*/
    /* const element = (
      <div className="container">
        <Message children = "Hello World"/>
        <Message children = "Goodbye World"/>
      </div>
    ) */

    /*option 2*/
    /* const element = React.createElement(
      'div', 
      {className: "container"}, 
      <Message className="message" children = "Hello World"/>,
      <Message className="message" children = "Goodbye World"/>
    ); */

    /*option 3*/
    /* const element = React.createElement(
      'div', 
      {className: "container"}, 
      <Message children = "Hello World"/>,
      <Message children = "Goodbye World"/>
    ); */

    /*option 4*/
    const element = React.createElement(
      'div', 
      {
        className: "container",
      }, 
      Message({children: "Hello World"}),
      Message({children: "Goodbye World"})
    );
    

    // 💯 This is only the first step to making actual React components. The rest is in the extra credit!
    ReactDOM.render(element, document.getElementById('root'))

  </script>
</body>
